<a href="https://colab.research.google.com/github/dmc95/American_Diner/blob/main/Adress.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
link  = "/content/drive/MyDrive/dataEngineer/adressTable.csv"

In [2]:
import pandas as pd
df_adress = pd.read_csv(link);
df_adress.head()

   address_id                  address           city  postal_code
0           1     318 CHE DE ROUMAGOUA      LA CIOTAT        13600
1           2         19 RUE DES DAMES  SAINTE SAVINE        10300
2           3  22 RUE AMIRAL GUEPRATTE     LE CONQUET        29217
3           4          6 BD DES ETINES      LE COTEAU        42120
4           5      35 AV DU 159EME RIA       BRIANCON         5100

In [3]:
df_adress.isnull().sum()

address_id     0
address        0
city           0
postal_code    0
dtype: int64